/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: 'Raleway', sans-serif;;
 }


 * {
   box-sizing: border-box;
 }

 h1,h2,h3,h4,h5,h6,p,ul.li {
   color: #424652;
 }

 h1 {
   font-size: 2.5rem;
 }

 h2 {
   font-size: 2rem;
 }

 h3 {
   font-size: 1.75rem;
 }

 h4 {
   font-size: 1.375rem;
 }


 h5 {
   font-size: 1.25rem;
 }

 h6 {
   font-size: 1rem;
 }

 p,li {
   font-size: 1.1rem;
   line-height: 1.75rem;
 }

 p,ul,ol {
   margin: 0 0 1.6rem 0;
 }

 a {
   text-decoration: none;;
   color:#424652;
 }

 a:hover {
   color:  #8bc6db;
 }

 hr {
   width: 3em;
   display: block;
   height: 2px;
   border: 0;
   border-top: 2px solid #8bc6db;
   margin: 2rem 0;
 }

 .clearfix:before,
 .clearfix:after {
   content: " ";
   display: table;
 }

 .clearfix:after {
   clear: both;
 }

 #main_navigation {
   padding: 2.5em 5%;
   border-bottom: 2px solid #e9e9e9;
 }
 #main_navigation .name {
   font-weight: 700;
   text-transform: uppercase;
   font-size: .6rem;
   text-decoration: none;
   padding: 1rem;
   border: 2px solid #e9e9e9;
   letter-spacing: 5px;
   color: #424652;
   float: left;
 }

 nav {
   float: right;
   padding-top: .93em;
 }

 nav a {
   color: #424652;
   text-decoration: none;
   margin: 0 1rem;
   font-size: 1em;
 }


 .wrapper {
   width: 90%;
   margin: 0 auto;
 }

 .col_1,.col_2,.col_3 {
   float: left;
 }


 .col_1 {
   width: 45%;
   padding: 0 5% 0 2.5%;
 }
 .col_2,.col_3 {
   width: 27.5%;
   padding: 0 2.5%;
 }

 .homepage_content h2 {
   font-size: 1.1rem;
   text-transform: uppercase;
 }

 .homepage_content hr {
   width: 3em;
   display: block;
   height: 2px;
   border: 0;
   border-top: 2px solid #8bc6db;
   margin: 2rem 0;
 }

 .homepage_content h3 {
   font-size: 1.35em;
   font-weight: 400;
   margin-bottom: .5em;
 }

 .homepage_content .date{
   font-size: .85em;
   margin-bottom: 2em;
   color: #9a9da4;
 }

 .homepage_content p {
   margin: 0 0 .75em 0;
 }

 .about {
   padding: 0 7.5% 0 0;
 }
 .about a {
   color: #8bc6db;
   font-weight: 700;
   text-decoration: none;
 }

 #main_footer{
   padding: 2.5em 5%;
   border-top: 2px solid #e9e9e9;
 }

 #main_footer .copyright {
   float: left;
   font-size: .9em;
   margin: 0;
 }

 #main_footer nav {
   float: right;
 }

 #main_footer nav i {
   color: #424652;
   padding-top: .2em;
   margin-left: 1rem;
 }

 #main_footer nav i:hover {
     color:  #8bc6db;
 }
 /*articles show*/
 #post_show_content header {
  text-align: center;
}

header .date {
  font-size: .9em;
  color: #9a9da4;
  margin-top: 2em;
}

header h1 {
  margin: 0;
}
 hr {
  margin: 2em auto;
}

#share_box{
  text-align: center;
}
#share_box p {
  padding:  0 0 1em 0;
  margin: 0;
  font-weight: 700;
  text-transform: capitalize;
  font-size: .8em;
  color: #424652;
}

#share_box i {
  padding: 1em 1.5em;
}

#share_box i:hover  {
  color: #8bc6db;
  cursor: pointer;
}

/*articles*/
#page_title {
    text-align: center;
    border-bottom: 2px solid #e9e9e9;
    padding: 3em 0;
    font-size: 1rem;
    text-transform: uppercase;
}
.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4em 0;
}

#posts_wrapper {
  padding: 4em 0;
}

.posts {
  text-align: center;
}

.posts h2 {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}

.posts .date {
  font-size: .9em;
  margin-bottom: 0;
}

.posts hr {
  margin: 3em auto;
}
.posts a {
  text-decoration: none;
  color: #424652;
}
.posts a:hover {
  color: #8bc6db;
}

.pagination:before,
.pagination:after{
  content: " ";
  display: table;
}

.pagination:after{
  clear: both;
}
.pagination {
  text-align: center;
  margin: 0 0 3em 0;
}
.pagination a, .previous_page, .current, .next_page{
  padding: .75em 1em;
  margin: 0 .5em;
  border-radius: .15em;
  line-height: 20px;
  text-decoration: none;
  background: #ffffff;
  font-size: .7em;
  font-style: normal;
  color: #424652;
}

.pagination  .previous_page:hover, .current:hover,
 .next_page:hover{
  color: #ffffff;
  background: #8bc6db;
}
.pagination a:hover {
  color: #ffffff;
  background: #8bc6db;
}


.current {
  color: #ffffff;
  background-color: #8bc6db;
}

.disabled {
  color: #c0c0c0;
}

.disabled:hover{
  color: #c0c0c0;
  background: #ffffff;
}
/*contacts*/
input[type='text'],input[type='email'],input[type='password'],textarea {
    width: 100%;
    max-width: 100%;
    height: 3em;
    border: 2px solid #e9e9e9;
    padding: 1em;
    margin: .5em 0 2em 0;
}

textarea{
  min-height: 10em;
}

input[type="submit"] {
  text-decoration: none;
  outline: none;
  background: transparent;
  border: 2px solid #e9e9e9;
  font-size: 1em;
  color: #424652;
  text-decoration: none;
  padding: 1em 2em;
}
input[type='submit']:hover{
  border: 2px solid #8bc6db;
  color: #8bc6db;
}

.project_button,
.project_button:hover
 {
  padding: 1em 2em;
  background: #8bc6db;
  color: #ffffff;
  text-decoration: none;
}
.button_wrapper {
  margin: 4rem auto;
  text-align: center;
}
@import "normalize";
@import "_pygments";
